<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="2">Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name.truncate(40, omission: '...') %></td>
        <td><%= product.price %></td>
        <td><%= product.description.truncate(40, omission: '...') %></td>
        <td> <%= link_to "Show", product_path(product) %> </td>
        <td><%= button_to "Add to orders", add_item_order_path(find_or_create_pending_order, product_id: product.id), method: :post  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="pagination">
  <%= paginate @products %>
</div>


